<ion-header>
  <ion-navbar>
    <ion-title >
      myMessAdmin (Beta)
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset [hidden]="user">
    <div>
      <img src="assets/imgs/logo.png">
    </div>
    <div [hidden]="f" class="g-recaptcha" id="recaptcha-container"></div>
    
    <form *ngIf="f" [formGroup]="loginForm" (submit)="sendLoginCode()" novalidate>      
      
      <ion-label stacked>Mobile Number</ion-label>          
      <ion-item>
          <ion-input formControlName="contact" type="number" maxlength="10"></ion-input>
      </ion-item>        
      <p *ngIf="!loginForm.controls.contact.valid  && loginForm.controls.contact.dirty">
        Enter a valid 10 digits mobile number
      </p>
            
      <button margin-top ion-button block type="submit" id="sign-in-button" [disabled]="!loginForm.valid">Login</button>      
    </form>

    <div *ngIf="windowRef.confirmationResult">
      <ion-label Stacked>Enter your Verification Code Here</ion-label>
      <ion-item>
        <ion-input type="text" name="code" [(ngModel)]="verificationCode"></ion-input>
      </ion-item>
      <button ion-button (click)="verifyLoginCode()">Verify</button>
    </div>    
  </ion-list>

  <div *ngIf="user">
    You have successfully logged in with your phone number!
  
    UserId: {{ user?.uid }}  
  </div>
</ion-content>